div{
	
	display: inline-block;
	width: 170px;
}

.wrapper{
	
	width: 700px;
	display: inline;
	vertical-align: top;
}

form input{
	width: 100px;
	
}

form label{
	width: 150px;
	margin-right: 5px;
}

form input[type=submit]{
	
	width: 100px;
	height: 10px;
	margin-left: 5px;
	color: grey;
	font-weight: bold;
}

#results{
	
	width: 600px;
	font: serif;
	font-size: 1em;
}
